body {
    line-height: 1.5em;
}



.content {
    width: 50%;
    margin: 60px auto;
}

.tabs {
    overflow: hidden;
    border-bottom: 1px solid #c0c0c0;
}

.tabs ul {
    list-style-type: none;
}

.tabs ul li {
    display: block;
    float: left;
    width: 33%;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid transparent;
}

.tabs ul li.active {
    color: red;
    border-top-color: red;
}

.tabs-content > div {
    /*display: none;*/
    height: 0;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.tabs-content > div.active {
    /*display: block;*/
    height: auto;
    opacity: 1;
}

.tabs-content table td:nth-child(2n) {
    padding-right: 15px;
}