
.content {
    width: 50%;
    margin: 60px auto;
}

.tabs {
    overflow: hidden;
    border-bottom: 1px solid #c0c0c0;
}

.tabs ul {
    list-style-type: none;
}

.tabs ul li {
    display: block;
    float: left;
    width: 33%;
    cursor: pointer;
    text-align: center;
}

.tabs ul li.active {
    color: red;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.tabs-content > div {
    /*display: none;*/
    height: 0;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.tabs-content > div.active {
    /*display: block;*/
    height: auto;
    opacity: 1;
}
